/* Core styles */

body {
  background-color: #76b39d;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  cursor: default;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #f9f8eb;
  text-align: center;
}

/* Banner styling */

.banner {
  background-color: #155e63;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 30px;
}

.banner a {
  text-decoration: none;
}

.banner h1 {
  font-size: 2.5em;
  padding-bottom: 25px;
  border-bottom: 1px solid #f9f8eb;
}

/* Checkbox and link styling */

.checkbox, .link {
  align-items: baseline;
  display: flex;
  position: relative;
}

.checkbox {
  margin: 20px auto;
}

.links {
  display: flex;
  flex-direction: column;
}

.links, .checkboxes {
  background-color: #f9f8eb;
  box-shadow: 7px 4px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 10px 30px;
  margin: 40px 30px;
}

.checkboxes {
  border-radius: 30px 30px 0px 0px;
}

.links {
  border-radius: 0px 0px 30px 30px;
}

.link p, .checkbox p {
  margin-left: 38px;
}

.checkbox input {
  height: 20px;
  width: 20px;
}

.checkbox p {
  position: absolute;
  left: 40px;
  top: 1px;
  margin: 0;
}

.link a {
  color: inherit;
  text-decoration: none;
  min-width: 50px;
}

.activated:hover {
  opacity: 0.65;
  transition: 0.3s ease;
}

.deactivated, .activated {
  position: relative;
  padding: 5px;
  transition: 0.3s ease;
}

.deactivated {
  color: #ccc !important;
  cursor: not-allowed;
}

.activated {
  color: black !important;
  cursor: pointer !important;
}

.deactivated::before {
  position: absolute;
  content: "";
  width: 85%;
  height: 1px;
  top: 52%;
  background-color: black;
  transition: 0.3s ease;
}

.activated::before {
  width: 0%;
  transition: 0.3s ease;
}

.deactivated ~ p {
  color: #aaa;
  transition: 0.3s ease;
}

.activated ~ p {
  color: black;
  transition: 0.3s ease;
}

/* Media queries */

@media (min-width: 768px) {
  .links, .checkboxes {
    margin: 50px 100px;
  }
}

@media (min-width: 1024px) {
  .links, .checkboxes {
    margin: 50px 300px;
  }
}

@media (min-width: 1400px) {
  .checkboxes {
    display: flex;
    padding: 30px 10px;
    justify-content: center;
  }

  .checkbox {
    margin: 10px 40px;
  }

  .checkbox p {
    position: absolute;
    left: 35px;
    margin: 0;
    min-width: 55px;
  }
}
